<h1>BeerSpots</h1>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Qualification</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beerspots.each do |beerspot| %>
      <tr>
        <td><%= beerspot.name %></td>
        <td><%= beerspot.address %></td>
        <td><%= beerspot.qualification %></td>
        
        <td><%= link_to 'Show', beerspot %></td>
        <td><%= link_to 'Edit', edit_beer_path(beerspot) %></td>
        <td><%= link_to 'Destroy', beerspot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div id="demo"> 
</div>

<br>
<br>
<form action="">
<%= form_with(model: @beer_spot, local: true) do |form| %>
<div id="address2"></div>
<div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id:"bs_address" %>
  </div>
<%= link_to "#", class:"btn btn-primary", id: "get_location" do %>          
<i class="fa fa-map-marker"> </i>        
<% end %>
<% end %>
</form>

<br>
<br>
<div style='width: 800px;'>  
    <div id="map" style='width: 800px; height: 400px;'>
    </div>
</div>


