<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beerspot.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @beerspot.address %>
</p>


<p>
  <strong>Qualification:</strong>
  <%= @beerspot.qualification %>
</p>

<%= link_to 'Back', beers_path %>