<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @beerspot.name %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @beerspot.address %>
</p>

<p>
  <strong>Post:</strong>
  <%= @beerspot.post %>
</p>


<p>
  <strong>Calificacion:</strong>
  <%= @beerspot.qualification %>
</p>

<%= link_to 'Back', root_path %>